<p class="flex flex-col gap-3 font-serif text-xl italic justify-between h-full">
    <span>Welcome, {{authService.getName()}}, to your personal recipe book!</span>

    <span>I'm delighted to have you here. This is the place where your culinary ideas come to life and where you can
        create, save and share your favourite recipes.
    </span>

    <span>Whether you're a culinary expert or a kitchen novice, you'll find inspiration and ease in exploring the world
        of good food.</span>

    <span>Get ready for a unique culinary adventure designed just for you.</span>

    <span>Enjoy your virtual kitchen!</span>
</p>