<div class="flex flex-row gap-2 justify-center">
    <ng-container *ngFor="let page of getPageArray()">
        <button *ngIf="!isNaN(page) else dots" [class.active]="isActivePage(page)" [disabled]="isActivePage(page)"
            [class]="'text-amber-950 w-[30px] h-[30px]'+ goldHoveringBtn + disabledBtn" (click)="changePage(page)">
            {{page}}
        </button>

        <ng-template #dots>
            <button [class]="'text-amber-950 w-[30px] h-[30px]'+ goldHoveringBtn + disabledBtn" disabled>
                ...
            </button>
        </ng-template>
    </ng-container>
</div>