@import '../../../styles/assets.scss';

ul {
    list-style: none;

    & li {
        &:hover {
            letter-spacing: 1px;
        }

        &::before {
            content: "\2022";
            color: $brown;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    }
}