@import '../../../styles/assets.scss';

ul {
    list-style: disc;

    & li {
        & button {
            &:not(:disabled):hover {
                transform: translateX(5px);
                text-decoration: underline;
            }
        }
    }
}