<section class="bg-yellow-700 h-screen w-screen py-8 flex flex-col items-center gap-2 absolute">
  <h1 class="text-2xl font-bold font-serif text-stone-800 underline">The recipes book</h1>

  <auth *ngIf="!authService.isLogged() else userLogged" class="h-full w-1/4"></auth>

  <ng-template #userLogged>
    <book class="h-full w-1/2">
      <book-page class="h-full w-1/2" [isRight]="false">
        <!-- TODO - LX Side -->
        <left-side></left-side>
      </book-page>
      
      <book-page class="h-full w-1/2" [isRight]="true">
        <!-- TODO - DX Side -->
        <router-outlet></router-outlet>
      </book-page>
    </book>
  </ng-template>
</section>